doctype html
html
  head
    meta(charset='utf-8')
    title BankR
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Bank Management System
    nav
      ul
        li: a(href='/') Task List
        li: a(href='/accounts/new') New Task
        li: a(href='/transactions/new') Create a new transaction
        li: a(href='/accounts') Accounts List
        li: a(href='/transfer/new') Create a new transfer


    block content
